.text-l {
    text-align: left;
}
.text-r {
    text-align: right;
}
th {
    text-align: left;
    padding: 0.1rem 0.3rem;
}
.page {
    background-image: url('/static/img/backdrop-senderSignUp.png');
    background-size: cover;

}