<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>{% block title%}{% endblock %}</title>
    {% block head_stuff %}{% endblock %}
</head>
<body>
    <nav>
        <a href={{ url_for('welcome') }}>Strona główna</a>
        {% if session["login"] %}
            <span class="ml-auto">Cześć {{ session["login"] }} !</span>
            <a href="/sender/generate-label">Stwórz etykietę</a>
            <a href={{ url_for('sender_logout') }}>Wyloguj się</a>
        {% else %}
            <a class="ml-auto" href={{ url_for('sender_sign_up_get') }}>Rejestracja nadawcy</a>
            <a href={{ url_for('sender_login_get') }}>Logowanie nadawcy</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <a href="mailto:mczarkowski7@outlook.com">
            2020 Mikołaj Czarkowski
        </a>
        <a href="https://github.com/Miko1012/spakuj-nas" target="_blank">
            Repozytorium projektu
        </a>
        <a href="https://www.youtube.com/watch?v=PCQs3vSJ6xA" target="_blank">
            Grafiki: Tomasz Domański, Mikołaj Olizar-Zakrzewski, Łukasz Partyka
        </a>
    </footer>
</body>
</html>