{% extends 'base.html' %}

{% block title %}
    Logowanie nadawcy paczek
{% endblock %}

{% block head_stuff %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/senderLogin.css') }}">
{% endblock %}

{% block content_title %}
    Logowanie nadawcy
{% endblock %}

{% block content_description %}
    Zaloguj się, aby móc wykorzystać pełen potencjał naszego serwisu!
{% endblock %}

{% block content %}
    <form action="/sender/login" method="post" id="form">
        <ul>
            <li>
                <label for="login">Login:</label>
                <input type="text" id="login" name="login">
            </li>
            <li>
                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password">
            </li>
        </ul>
        <input type="submit" value="Zaloguj" class="login-button" id="form-submit-button">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
{% endblock %}
