{% extends 'base.html' %}

{% block title %}
    Tablica - Spakuj nas
{% endblock %}

{% block head_stuff %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/senderDashboard.css') }}">
{% endblock %}

{% block content_title %}
    Kokpit
{% endblock %}

{% block content_description %}
    Tablica z etykietami Twoich paczek!
{% endblock %}

{% block content %}
    <a href="{{ url_for('sender_generate_label') }}">
        <span class="big-button">
            Dodaj etykietę paczki
        </span>
    </a>
    {% if labels %}
        <h3>
            Twoje paczki:
        </h3>
        <table>
        <tr>
            <th>Adresat</th>
            <th>Skrytka docelowa</th>
            <th>Wymiary paczki</th>
            <th>Identyfikator etykiety</th>
            <th>Akcja</th>
        </tr>
        {% for label in labels %}
        <tr>
            <th>{{ label["receiver"] }}</th>
            <th>{{ label.box }}</th>
            <th>{{ label.size }}</th>
            <th>{{ label.label_id }}</th>
            <th>
                <a href="{{ url_for('sender_delete_label', label_uid = label.label_id) }}">
                    <span class="small-button">
                        usuń
                    </span>
                </a>
            </th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}