{% extends 'base.html' %}

{% block title %}
    Start - Spakuj nas
{% endblock %}

{% block head_stuff %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleMain.css') }}">
{% endblock %}

{% block content_title %}
    Spakuj nas! {{ session["login"] }}
{% endblock %}

{% block content_description %}
    Twoja platforma do wysyłania i odbierania paczek z każdego miejsca w Polsce!
{% endblock %}

{% block content %}
    <div class="register-sender-button">
                <a href="/sender/sign-up" class="register-sender-button-text">
                    Zarejestruj się już teraz!
                </a>
            </div>
{% endblock %}
