{% extends 'base.html' %}

{% block title %}
    Start - Spakuj nas
{% endblock %}

{% block head_stuff %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleMain.css') }}">
{% endblock %}

{% block content_title %}
    Spakuj nas! {{ session["login"] }}
{% endblock %}

{% block content_description %}
    Twoja platforma do wysyłania i odbierania paczek z każdego miejsca w Polsce!
{% endblock %}

{% block content %}
    <div class="register-sender-button">
                <a href="/sender/sign-up" class="register-sender-button-text">
                    Zarejestruj się już teraz!
                </a>
            </div>
{% endblock %}


<!--

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleMain.css') }}">
    <title>Spakuj nas!</title>
</head>
<body>
    <nav>
        <a href="/">Strona główna</a>
        <a href="/sender/sign-up">Rejestracja nadawcy</a>
    </nav>
    <div class="content">
        <div class="header">
            <div class="title">
                Spakuj nas!
            </div>
            <div class="description">
                Twoja platforma do wysyłania i odbierania paczek z każdego miejsca w Polsce!
            </div>
            <div class="register-sender-button">
                <a href="/sender/sign-up" class="register-sender-button-text">
                    Zarejestruj się już teraz!
                </a>
            </div>
        </div>
    </div>
    <footer>
        <a href="mailto:mczarkowski7@outlook.com">
            2020 Mikołaj Czarkowski
        </a>
        <a href="https://github.com/Miko1012/spakuj-nas" target="_blank">
            Repozytorium projektu
        </a>
        <a href="https://www.youtube.com/watch?v=PCQs3vSJ6xA" target="_blank">
            Grafiki: Tomasz Domański, Mikołaj Olizar-Zakrzewski, Łukasz Partyka
        </a>
    </footer>
{% with messages = get_flashed_messages() %}
 {% if messages %}
 <ul class=flashes>
 {% for message in messages %}
 <li>{{ message }}</li>
 {% endfor %}
 </ul>
 {% endif %}
{% endwith %}
</body>
</html>-->
